In [5]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests
import pandas as pd
from zipfile import ZipFile
from io import BytesIO

# Criar função para baixar e extrair os dados

In [4]:
def baixar_e_extrair_dados(url):

    # Envia uma requisição para baixar o arquivo
    response = requests.get(url)

    # Checa se a requisição foi bem sucedida
    if response.status_code == 200:

        # Usa BytesIo para ler o conteúdo zip da memória
        arquivo_zip = ZipFile(BytesIO(response.content))

        # Extrai os nomes dos arquivos dentro do zipi
        nomes_dos_arquivos = arquivo_zip.namelist()

        # Assume que tem apenas um arquivo CSV e o extrai
        with arquivo_zip.open(nomes_dos_arquivos[0]) as arquivo_csv:

            # Lê o csv para um DataFrame
            # Definir o tamanho do chunk
            chunk_size = 50000  # Número de linhas a serem lidas por vez

            # Criar um objeto iterável para ler em partes
            # reader = pd.read_csv("caminho/para/seu/arquivo.csv", chunksize=chunk_size)
            df = pd.read_csv(arquivo_csv, sep=';', encoding='ISO-8859-1')

            return df
    else:
        print("Falha no download do arquivo: Status: ", response.status_code)
        return None

URL do arquivo em janeiro de 2025

In [2]:
url = "https://portaldatransparencia.gov.br/download-de-dados/novo-bolsa-familia/202401"

In [5]:
data_frame = baixar_e_extrair_dados(url)

In [6]:
data_frame.head()

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,CPF FAVORECIDO,NIS FAVORECIDO,NOME FAVORECIDO,VALOR PARCELA
0,202401,202303,AC,139,RIO BRANCO,***.511.972-**,1.629112e+10,JANAINA FERREIRA DA SILVA,"800,00"
1,202401,202303,BA,3329,ANGUERA,***.909.745-**,2.047443e+10,TACIANE MARQUES DA SILVA,"750,00"
2,202401,202303,BA,3731,MONTE SANTO,***.872.338-**,2.019538e+10,MAILSON DOS SANTOS SILVA,"650,00"
3,202401,202303,BA,3761,NOVA VICOSA,***.665.905-**,1.272359e+10,IRENI RICARDO GERALDO,"650,00"
4,202401,202303,BA,3849,SALVADOR,***.932.435-**,2.002458e+10,ELIENE GOMES DOS SANTOS,"850,00"

In [7]:
data_frame

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,CPF FAVORECIDO,NIS FAVORECIDO,NOME FAVORECIDO,VALOR PARCELA
0,202401,202303,AC,139,RIO BRANCO,***.511.972-**,1.629112e+10,JANAINA FERREIRA DA SILVA,"800,00"
1,202401,202303,BA,3329,ANGUERA,***.909.745-**,2.047443e+10,TACIANE MARQUES DA SILVA,"750,00"
2,202401,202303,BA,3731,MONTE SANTO,***.872.338-**,2.019538e+10,MAILSON DOS SANTOS SILVA,"650,00"
3,202401,202303,BA,3761,NOVA VICOSA,***.665.905-**,1.272359e+10,IRENI RICARDO GERALDO,"650,00"
4,202401,202303,BA,3849,SALVADOR,***.932.435-**,2.002458e+10,ELIENE GOMES DOS SANTOS,"850,00"
...,...,...,...,...,...,...,...,...,...
20833374,202401,202401,TO,9643,XAMBIOA,NaN,2.032433e+10,ZEILA MARIA BATISTA,"600,00"
20833375,202401,202401,TO,9643,XAMBIOA,***.273.191-**,2.064488e+10,ZENILDE ALVES DOS SANTOS,"600,00"
20833376,202401,202401,TO,9643,XAMBIOA,NaN,1.905866e+10,ZENOLIA RAMOS DA SILVA CARVALHO,"600,00"
20833377,202401,202401,TO,9643,XAMBIOA,***.822.651-**,2.091926e+10,ZILMA ALVES DE BARROS,"440,00"
20833378,202401,202401,TO,9643,XAMBIOA,NaN,2.050120e+10,ZULEIDE DA SILVA E SILVA,"750,00"

In [8]:
data_frame.describe()

       MÊS COMPETÊNCIA  MÊS REFERÊNCIA  CÓDIGO MUNICÍPIO SIAFI  NIS FAVORECIDO
count       20833379.0    2.083338e+07            2.083338e+07    2.083299e+07
mean          202401.0    2.024002e+05            3.887407e+03    1.724985e+10
std                0.0    8.271424e+00            2.802435e+03    3.254238e+09
min           202401.0    2.023030e+05            1.000000e+00    1.000041e+10
25%           202401.0    2.024010e+05            1.389000e+03    1.603399e+10
50%           202401.0    2.024010e+05            3.413000e+03    1.645145e+10
75%           202401.0    2.024010e+05            6.001000e+03    2.039870e+10
max           202401.0    2.024010e+05            9.997000e+03    2.389491e+10

In [10]:
df_filtrado_municipio = data_frame[data_frame["NOME MUNICÍPIO"] == "WANDERLANDIA"]
df_filtrado_municipio

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,CPF FAVORECIDO,NIS FAVORECIDO,NOME FAVORECIDO,VALOR PARCELA
72094,202401,202310,TO,9665,WANDERLANDIA,***.729.691-**,1.618199e+10,GILDAMAR SINHA BENIGNO,"810,00"
121566,202401,202311,TO,9665,WANDERLANDIA,***.729.691-**,1.618199e+10,GILDAMAR SINHA BENIGNO,"810,00"
175754,202401,202312,TO,9665,WANDERLANDIA,***.729.691-**,1.618199e+10,GILDAMAR SINHA BENIGNO,"810,00"
20830263,202401,202401,TO,9665,WANDERLANDIA,***.688.783-**,2.091861e+10,ABDIAS SOARES SANTANA,"600,00"
20830264,202401,202401,TO,9665,WANDERLANDIA,***.826.721-**,2.122337e+10,ACEONE JOSE DE FREITAS,"455,00"
...,...,...,...,...,...,...,...,...,...
20831724,202401,202401,TO,9665,WANDERLANDIA,NaN,1.633356e+10,YASMIM SOARES SILVA,"475,00"
20831725,202401,202401,TO,9665,WANDERLANDIA,***.540.251-**,2.061975e+10,ZAIRA FERREIRA DA SILVA PEREIRA,"490,00"
20831726,202401,202401,TO,9665,WANDERLANDIA,***.606.461-**,1.653206e+10,ZELIA DAMACENO MATOS,"700,00"
20831727,202401,202401,TO,9665,WANDERLANDIA,***.493.771-**,1.653523e+10,ZILDETE DOS SANTOS PAZ,"600,00"
20831728,202401,202401,TO,9665,WANDERLANDIA,***.330.523-**,1.606337e+10,ZULEIDE GOMES MACHADO,"600,00"

# Tentativa errada (o campo está vindo com vírgula e não ponto)

In [12]:
soma_parcelas = df_filtrado_municipio['VALOR PARCELA'].sum()
soma_parcelas

'810,00810,00810,00600,00455,00600,00750,00600,00300,00650,00816,00600,00650,00650,00600,00205,00716,00992,00800,00750,00540,00325,00600,00900,001060,001002,00650,00766,00750,00600,00800,00600,00650,00650,00600,00440,00205,00910,00600,00600,00750,00600,00600,00750,00288,00750,00600,00750,00850,00750,00616,00640,00750,00900,00600,00650,00600,00600,00800,00750,00590,00750,00650,00650,00600,00850,00750,00750,00750,00750,00750,00840,00650,00790,00400,00576,00750,00600,00900,00650,00800,00440,00850,00900,00600,00650,00950,00490,001110,00600,00490,00590,00640,00600,00440,00950,001060,00800,00650,00325,00700,00600,00640,00640,00900,00650,00650,00750,00600,00470,00750,00600,00650,00800,00750,001000,00490,00600,00750,00750,00650,00440,00600,00400,00700,00490,00750,00750,00950,00600,00600,00450,00750,00750,00600,00325,00750,00511,00750,00750,00750,00750,00375,00600,00950,00700,00600,00600,00650,001202,00750,00600,00440,00600,00650,00600,00650,00600,00600,00650,00600,00300,00750,00600,00700,00375,00600,00900,00650,00900,00750,00800,00862,00650,00650,00750,00750,00750,00650,00900,00750,00850,00950,00750,00650,00650,00490,00600,00650,00600,00600,00750,00900,00900,00650,00573,00700,00750,001010,00750,00490,00325,00700,00580,00700,00800,00490,00600,00650,00650,00620,00600,00520,00600,00650,00600,00600,00600,00350,00800,00900,00300,00600,00350,00800,00900,00230,00750,00650,00800,00600,001012,00300,00600,00600,00690,00650,00800,00600,001394,00600,00650,00600,00800,00800,00600,00650,00750,00900,00750,00600,00600,00600,00800,00750,00750,00850,00960,00490,00750,00750,00750,00750,00350,00650,00650,00750,00790,00750,001060,001050,00640,00800,00750,00750,00600,00700,00600,00600,00816,00800,00440,00750,00600,00800,00600,00900,001000,00600,00640,00490,00650,00900,00600,00440,00800,00600,00600,00600,00850,00600,00600,00750,00650,00600,00700,00700,00860,00650,00650,00800,00600,00600,00300,00650,00540,00790,00600,00600,00600,00700,00950,00650,00540,00600,00600,00601,00490,00600,00890,00700,00650,00363,00650,00600,00600,00600,00600,00600,00700,00600,00700,00440,00950,00700,00325,00300,00600,00750,00540,00440,00600,00650,00650,00600,00440,00800,00600,00600,00650,00600,00650,00650,00800,00325,00810,00750,00800,00540,00490,00650,00600,00600,00600,00650,00640,00600,00740,00600,00650,00640,00600,00750,00375,00650,00600,00960,00600,00350,00425,00490,00490,00740,00750,00900,00600,00300,00600,00325,00700,00600,001142,00600,00566,00800,00600,00590,00490,00900,00430,00600,00600,00440,00600,00650,001210,00600,00600,00540,00600,00700,00860,00750,00540,00440,00600,00490,00590,00540,00490,00800,00650,00800,00600,00914,00600,00590,00490,00700,00475,00750,00750,00700,00850,00600,00700,00650,00600,00700,00590,00600,00490,00650,00800,00640,00900,00800,00600,00590,00700,00800,00440,00600,00600,00600,00600,00450,00600,00800,00794,00750,00950,00750,00600,00650,00750,001087,001110,00750,00440,00900,00650,00650,00640,00900,00305,00640,00960,00440,00810,00600,00600,00700,00205,00650,00540,00950,00325,00711,00750,00750,00280,00600,00305,00600,00850,00600,00850,00900,00800,00440,00440,00900,00440,00900,00750,00600,00205,00750,00600,00650,00850,00600,00325,00650,00490,00600,00900,001184,00400,00350,00650,00740,00650,00600,00590,00600,00205,00650,00600,00700,00600,00750,00900,00750,00600,001110,00600,00600,001484,001039,001252,00490,00440,00600,00700,00700,00600,001244,00650,00375,00600,00600,00600,00600,00300,00325,00600,00800,00750,00600,00750,00810,00600,00600,00540,00600,00375,00600,00850,00600,00800,00590,00700,00610,00400,00650,00900,00790,00600,00650,00325,00650,00600,00600,00750,00600,00375,00600,00750,00700,00700,00700,00600,00440,00600,00750,00650,00800,00600,00650,00600,00650,00300,00600,00350,00600,00600,00600,00600,00900,00600,00600,00375,00440,00600,00600,00600,00490,00650,00600,00600,00600,00600,00658,00600,00860,00600,00800,00640,00790,00600,00700,00600,00440,00700,00600,00490,00750,00600,00375,00750,00590,001000,00750,00506,00902,00440,00600,00600,00350,00600,00750,00800,00850,00661,00900,00300,00750,00950,00750,00600,00650,00740,00840,001000,00750,00600,00800,00650,00280,00600,00750,00600,001110,00950,00600,001252,00800,00900,00900,00750,00900,00600,00650,00800,00950,00650,00750,00750,00750,00750,00600,00650,00750,00700,00850,00600,00400,00750,00750,00750,00590,00650,00650,00996,00440,00400,001252,00490,00540,00750,00600,00325,00650,00405,00750,00600,00600,00450,00690,00750,00440,00650,00375,00750,001302,00790,00932,00784,00640,00600,00650,00600,00300,00350,00600,00440,00850,00800,00790,00700,00540,00650,00531,00700,00440,00650,00650,00600,00425,00600,00300,00950,00650,00900,00600,00800,00950,00750,00440,00600,00750,00842,00375,00400,00490,00750,00600,00490,00800,00750,00600,00800,00850,00350,00650,00388,00810,00650,00650,00700,00600,00255,00600,00400,00640,00540,00790,00650,00650,00992,00750,00600,001000,00650,00750,00600,00600,00300,00750,00830,00350,00300,00300,00350,00600,00650,00640,001352,00600,001476,00650,001234,00800,001160,00650,00600,001442,001110,00750,00650,00750,00700,00600,00650,00600,00600,00600,00600,00600,00750,00600,00800,00750,001060,00750,00800,00590,00700,00650,00700,00750,00600,00650,00600,00600,00600,00490,00690,00600,00600,00600,00740,00280,00650,00800,00509,00600,00600,00600,00600,00650,00650,00640,00300,00600,00900,00800,00750,00600,00325,00490,00650,00750,00490,00650,00910,00640,00440,00600,00700,00810,00600,00350,00600,00440,00600,00800,00600,00600,00325,00650,00750,00325,00700,00600,00600,00750,00600,00750,00440,00650,00700,00501,00300,00600,00600,00600,00440,00700,00490,00440,001050,00850,00600,00600,00950,00205,00600,00650,00740,00300,00440,00600,00650,00750,00600,00325,00700,00490,00600,00650,00600,00600,00600,00440,001252,00600,00440,00650,00700,00451,00540,00600,00600,00600,00900,00750,00750,00750,00750,00640,00650,00750,00750,00700,00600,00600,00600,00600,00650,00600,00540,00700,00600,00300,00950,00650,00650,00325,00650,00600,00180,00650,00300,00650,00650,00600,00650,00790,00600,00740,001052,00600,00440,00540,00952,00800,00300,00700,00650,00650,00810,00600,00650,00650,00540,00650,00600,00690,00650,00600,00300,00750,00650,00650,00537,00750,00600,00950,00255,00950,00501,00180,00900,00205,00600,00900,00700,00800,00650,00288,00800,001102,00600,00600,00540,00634,00630,00900,00325,00490,00750,00600,00700,00600,00750,00600,00476,00650,00750,00600,00600,00800,00590,00480,00800,00690,00600,00600,00540,00600,00650,00601,00850,00926,00650,00650,00650,00600,00600,00650,00759,00440,00325,00850,00650,00325,00800,00700,00850,00325,00750,00650,00600,00950,001050,00750,001002,00750,00950,001152,00800,00750,00750,00750,00440,00700,00600,00826,00850,00490,00640,00900,00600,00350,00700,00750,00400,001050,00600,00440,00950,00800,00900,00750,00750,00750,00700,00750,00900,00650,00750,00590,00900,00555,00600,00600,00600,00650,00700,00650,00600,00325,00600,00600,00800,00750,001050,00600,00600,00650,00300,00700,00600,00600,00540,00701,00650,00650,00650,00700,00600,00325,00790,001010,00400,00740,00490,00590,00950,00590,001010,00850,00750,00600,00750,00450,00750,00710,00600,00700,00600,00600,001152,00800,00650,00650,00900,00600,00800,00800,00900,00860,00750,00750,00750,00490,00300,00910,00650,00325,00750,00800,00490,00600,00600,00650,00650,00600,00600,00600,00600,00600,00600,00600,00600,00750,00540,00740,00800,001152,00800,00750,00800,00750,00900,00750,001000,00600,00950,00800,00325,00325,00800,00600,00440,00325,00950,00600,00750,00930,00900,00650,00440,00650,00700,00750,00650,00900,00380,00860,00960,00600,00600,00600,00700,00600,00600,00600,00600,00700,00440,00700,00650,00750,00180,00350,00400,00490,00440,00700,00750,00600,00800,00600,00750,00850,00600,00600,001010,00960,00600,00325,00600,00230,00650,00490,00760,00724,00600,00600,00600,00300,00700,00490,00800,00600,00600,00650,00650,00700,00750,00800,00800,00688,00590,00950,00800,00900,00750,00600,00650,00850,00860,00750,00700,00600,00280,00750,00750,00650,00750,001060,00490,00600,00600,00840,00750,00790,00350,00600,00650,00600,00600,00490,00375,00650,00600,00540,00600,00700,001436,00440,00600,00460,001302,00626,00750,00650,00800,00650,00700,00650,00690,00600,00864,00740,00650,00325,00710,00590,00440,00440,00440,00325,00750,00700,001234,00590,00900,00750,00650,00900,00740,00640,00590,00750,00650,00375,00600,00750,00350,00850,00900,00600,00600,00750,00750,00850,00800,00750,00650,00666,00900,00740,00400,00540,00750,00900,00750,00300,00950,00650,00590,00902,00650,00942,00600,001010,00325,00300,00650,00600,00600,00670,00600,00600,00650,00910,00810,00750,00750,00700,00750,00750,001142,00650,00750,00650,00650,00750,00600,00451,00600,00800,00600,00950,00750,00700,00700,00600,00650,00650,00850,00650,00800,001060,00255,00700,00700,00650,00650,00600,00600,00900,00600,00590,00600,00650,00750,00600,00375,00950,00600,00450,00650,00650,00375,00750,00750,00440,00900,00475,00490,00700,00600,00600,00'

# Tentativa correta

In [11]:
soma_parcelas = df_filtrado_municipio['VALOR PARCELA'].str.replace(',','.').astype(float)
total = soma_parcelas.sum()
total

972538.0

# URL do arquivo em março

In [ ]:
url = "https://portaldatransparencia.gov.br/download-de-dados/novo-bolsa-familia/202403"

# Filtra a coluna UF

In [13]:
df_filtrado_uf = data_frame['UF']
df_filtrado_uf

0           AC
1           BA
2           BA
3           BA
4           BA
            ..
20833374    TO
20833375    TO
20833376    TO
20833377    TO
20833378    TO
Name: UF, Length: 20833379, dtype: object

In [14]:
frequencia_uf = df_filtrado_uf.value_counts()
frequencia_uf

UF
SP    2578033
BA    2467566
RJ    1719751
PE    1606497
MG    1598175
CE    1474181
PA    1333793
MA    1181165
PB     673402
AM     643487
RS     619126
PR     609167
PI     603629
AL     536300
GO     508055
RN     505109
SE     384416
ES     304970
MT     258189
SC     228295
MS     209511
DF     193044
TO     156545
AC     128925
RO     122863
AP     117454
RR      71731
Name: count, dtype: int64

In [16]:
uf_mais_frequente = frequencia_uf.idxmax()
uf_mais_frequente

'SP'